<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="MissaoDoDia"
        android:supportsRtl="true"
        android:theme="@style/Theme.MissaoDoDia">
        <activity android:name="com.example.mission.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.mission.MainMissions" />

        <activity android:name="com.example.mission.Objectives" />

        <receiver android:name="com.example.mission.MissionWidget" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/mission_widget_info" />
        </receiver>

    </application>

</manifest>
